<% if current_user %>
<div class="hero-unit">
  <% @links_tags.each do |link, address| %>
  <div class="nav_links" >
    <%= link_to "#{link.humanize}", address , :class => "btn btn-primary btn-large" %>
    <br />
  </div>
  <% end %>

</div>
<% end %>

<div class="hero-unit">
  <i pull-center><strong>The data is temprorily unavailable.....</strong></i>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 90%;">loading..</div>
  </div>
</div>