<div class="hero-unit">
  <% @links_tags.each do |link, address| %>
  <div class="nav_links" >
    <%= link_to "#{link.humanize}", address , :class => "btn btn-primary btn-large" %>
    <br />
  </div>
  <% end %>

</div>