/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .notice{
  background:  #B5CB5B;
  text-align:  center;
}

.alert_message{
  background:  red;
  text-align:  center;
}

.login_title{
  background: #96868D;
  text-align: center;
  font-size: 14px;
  border-radius: 12px 12px 0 0;
}

#error_explanation{
  background: #FC8D98;
  margin-left: -15%;
  margin-top: -7%;
  text-align: center;
}

#error_explanation h2{
  font-size: 10px;
}

#error_explanation ul{
font-size: 10px;
list-style: none;
margin: -20px 0 20px;
}